.App {
    text-align: center;
    
    width: 30%;
    position: absolute;
    top: 20px;
    right: 2.5%;
    /* left: 92%; */
  }
  
  /* .App-logo {
    height: 10vmin;
    pointer-events: none;
  } */
  
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
  button{
      font-size: 10px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #quote-box{
   
    background-color: rgba(0,0,0,0.1);
    color: inherit;
    /* height: 100%;
    width: 100%; */
    margin: auto;
    padding: 3%;
    /* text-align: center; */
    box-shadow: 5px 5px 15px #888888;
    /* color: rgba(255, 255, 255, .7); */
  }
  
  #quote-text{
    /* box-shadow: 5px 10px 20px #888888; */
    color:white;
    border-radius: 20px;
    padding: 20px;
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
    font-size: 15px;
    /* font-family: cursive; */
    /* background-color: none !important; */
    /* color: inherit; */
    /* animation: fadeIn 15s infinite */
  }
  
  .classname {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes cssAnimation {
    from {
      -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(100px);
    }
    to {
      -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(100px);
    }
  }
  
  
  
   @keyframes pulse {
    0% {
      color: rgba(255, 255, 255, .1);
      /* opacity: 0; */
    }
    100% {
      color: #000;
      /* opacity: 1; */
    }
  } 
  
  #author{
    text-align: right;
    font-size: 15px;
    color: #fff;
  }
  
  #new-quote{
   /* margin-left: -300px; */
   margin-right: 55%;
  }
  
  #tweet-quote{
    text-align: left;
  }